---


---
<section id="home" class="about__container">
    <h2>Sobre mi</h2>
    <div class="about__container-children">
        <div class="about__container-profile">
            <img src="/images/IMG-20221117-WA0011.jpg" alt="">
        </div>
        <div class="about__container-info">
    
        </div>
    </div>
</section>