---
interface Props {
    imagen:string,
    descripcion:string,
    nombre:string
}


const {imagen,descripcion,nombre} = Astro.props;

---


<div class="dimension flex flex-col justify-center items-center m-3 p-4 bg-slate-900 border border-cyan-500  text-cyan-400 lg:border-2 lg:border-trasparent lg:hover:scale-105 lg:border-slate-900 lg:hover:border-cyan-500 lg:hover:text-cyan-500 lg:text-white rounded-md">
    <img src={imagen} alt={descripcion} class="card-service w-20 h-16 md:w-24 md:h-20 lg:w-28 lg:h-24 object-contain bg-slate-900">
    <figcaption class="font-semibold text-sm md:font-bold md:text-lg">{nombre}</figcaption>
</div>