---


---

<section class="flex flex-col items-center justify-center m-6 gap-4" id="contact">
    <h2 class="text-cyan-400 text-center text-2xl md:text-4xl font-semibold">¡Contacto!</h2>
    <form action="" class="flex flex-col bg-cyan-400 gap-3 p-8 rounded-md">
        <input type="text" name="first_name" placeholder="Nombre" class="p-2">
        <input type="email" name="email" placeholder="Email" class="p-2">
        <textarea name="description" cols="30" rows="10"></textarea>
        <input type="button" value="enviar" class=" bg-gray-900 p-1 text-cyan-400 text-xl rounded-lg font-bold">
    </form>
</section>