---

let estado = "";

if (Astro.request.method === "POST") {
    try {
        const data = await Astro.request.formData();
        data
        const nombre= data.get("first_name");
        const correo = data.get("email");
        const mensaje = data.get("description");

        const info = {nombre,mensaje,correo};      
        
        await fetch(`${import.meta.env.URL_SERVER}`,{
            method:'POST',
            body: JSON.stringify(info),
            headers:{'Content-type':'application/json'}
        })
        .then(resp => resp.json())
        .then(result =>{
            if (result.status === "200") {
                estado="mensaje enviado con exito";
            }
        })
        
    } catch (error) {
        if (error instanceof Error) {
        console.error(error.message);
        }
    }
}



---

<section class="flex flex-col items-center justify-center m-4 md:my-10 gap-y-8" id="contact" >
    <h2 class="text-cyan-400 text-center text-2xl md:text-4xl font-semibold">¡Contacto!</h2>
    <form action="#" class="form flex flex-col gap-4 rounded-md w-full md:w-3/4 lg:w-1/2" method="POST">
        <div class="flex flex-col gap-4 md:flex-row w-full">
            <input type="text" name="first_name" placeholder="Nombre y apellido" class="p-2 border-2 border-cyan-400 bg-transparent rounded-lg md:w-1/2 font-semibold text-cyan-400" required>
            <input type="email" name="email" placeholder="Correo" class="p-2 border-2 border-cyan-400 bg-transparent rounded-lg md:w-1/2 font-semibold text-cyan-400" required>
        </div>
        <textarea name="description" cols="30" rows="10" class="border-2 border-cyan-400 bg-transparent rounded-lg p-2 font-semibold text-cyan-400" placeholder="Descripción de la consulta..."></textarea>
        <input type="submit" value="Enviar" class="border-2  border-cyan-400 rounded-lg p-1 text-cyan-400 text-xl font-bold md:w-1/4 animation-btn" required>
    </form>
</section>

<style>
    .form input::placeholder, textarea::placeholder{
        color: #fff;
    }

    @media screen and (min-width: 768px) {
        .animation-btn{
            animation: anime 1.2s  linear  infinite;
            border-color: transparent;
            border-radius: 12px;
        }
        .animation-btn:hover{
            background-color: #40ecf8;
            box-shadow: 0 0 20px #00E8F8;
            color: #000;
        }
        @keyframes anime{
            25%
            {
                border-top-color: #00E8F8;
            }
            50%
            {
                border-right-color: #00E8F8;
            }
            75%
            {
                border-bottom-color: #00E8F8;
            }
            100%
            {
                border-left-color: #00E8F8;
            }
        }
    }
</style>