---


---

<footer class="w-full bg-gray-900 p-6 gap-x-2 shadow-2xl shadow-cyan-400 mt-10">
    <h3 class="font-bold text-2xl text-center text-cyan-400">¡Gracias por visitar mi perfil!</h3>
    <section class="flex flex-wrap justify-around p-4">
        <div class="flex flex-col">
            <p class="font-bold text-cyan-400">INDICÉ</p>
            <a class="text-cyan-500 lg:text-white lg:hover:translate-x-2 lg:hover:text-cyan-500 transition-all" href="#home">Inicio</a>
            <a class="text-cyan-500 lg:text-white lg:hover:translate-x-2 lg:hover:text-cyan-500 transition-all" href="#about">Sobre Mi</a>
            <a class="text-cyan-500 lg:text-white lg:hover:translate-x-2 lg:hover:text-cyan-500 transition-all" href="#services">Servicios</a>
            <a class="text-cyan-500 lg:text-white lg:hover:translate-x-2 lg:hover:text-cyan-500 transition-all" href="#portfolio">Portafolio</a>
            <a class="text-cyan-500 lg:text-white lg:hover:translate-x-2 lg:hover:text-cyan-500 transition-all" href="#contact">Contacto</a>
        </div>
        <div class="flex gap-4">
            <a href="https://github.com/TolabaE" target="_blank" class="text-base w-8 h-8 md:w-12 md:h-12 md:text-2xl flex justify-center items-center rounded-full text-cyan-400 border-2 border-cyan-400"><i class="bi bi-github"></i></a>
            <a href="https://www.linkedin.com/in/tolaba-eduardo-esequiel/" target="_blank" class="text-base w-8 h-8 md:w-12 md:h-12 md:text-2xl flex justify-center items-center rounded-full text-cyan-400 border-2 border-cyan-400"><i class="bi bi-linkedin"></i></a>
            <a href="https://www.instagram.com/eduardo_tolaba25/" target="_blank" class="text-base w-8 h-8 md:w-12 md:h-12 md:text-2xl flex justify-center items-center rounded-full text-cyan-400 border-2 border-cyan-400"><i class="bi bi-instagram"></i></a>
        </div>
        <div class="font-semibold text-white">
            Portafolio -v 1.0 <a href="https://eduardotolaba-portfolio.netlify.app" target="_blank" class="text-cyan-400">Click</a>
        </div>
    </section>
    <p class="text-cyan-400 text-center">Todos los derechos reservados por: <strong class="text-white">Eduardo Tolaba</strong> - 2023</p>
</footer>