---


---

<footer class="w-full bg-slate-900 p-6 gap-x-2">
    <h3 class="font-bold text-2xl text-center text-cyan-400">¡Gracias por visitar mi perfil!</h3>
    <section class="flex flex-wrap justify-around p-4">
        <div class="flex flex-col">
            <p class="font-bold text-cyan-400">INDICÉ</p>
            <a href="#home">Inicio</a>
            <a href="#about">Sobre Mi</a>
            <a href="#services">Servicios</a>
            <a href="#portfolio">Portafolio</a>
            <a href="#contact">Contacto</a>
        </div>
        <div class="flex gap-4">
            <a href="https://github.com/TolabaE" target="_blank" class="text-base w-8 h-8 md:w-12 md:h-12 md:text-2xl flex justify-center items-center rounded-full text-cyan-400 border-2 border-cyan-400"><i class="bi bi-github"></i></a>
            <a href="https://www.linkedin.com/in/tolaba-eduardo-esequiel/" target="_blank" class="text-base w-8 h-8 md:w-12 md:h-12 md:text-2xl flex justify-center items-center rounded-full text-cyan-400 border-2 border-cyan-400"><i class="bi bi-linkedin"></i></a>
            <a href="https://www.instagram.com/eduardo_tolaba25/" target="_blank" class="text-base w-8 h-8 md:w-12 md:h-12 md:text-2xl flex justify-center items-center rounded-full text-cyan-400 border-2 border-cyan-400"><i class="bi bi-instagram"></i></a>
        </div>
        <div>
            Portofolio 1.0 click
        </div>
    </section>
    <i>Todos los derechos reservados por: <strong>Eduardo Tolaba</strong> - 2023</i>
</footer>