---

---
<section class="p-2 md:p-8" id="home">
    <div class="flex flex-wrap justify-between m-2 md:my-10 mx-6 gap-y-8">
        <div class="detail flex flex-col gap-y-4 md:gap-y-6 md:py-12"><!---Sarah -->
            <h1 class="text-3xl md:text-5xl font-semibold text-white">Soy <span style="color:#00E8F8;">Eduardo Tolaba</span></h1>
            <div class="develop-title text-1xl md:text-3xl font-semibold relative uppercase">
                <span class="text__develop">Desarrollador web full stack</span>
                <span class="text__develop-hover">Desarrollador web full stack</span>
            </div>
            <div class="flex flex-wrap pt-4 pb-4 gap-5 social">
                <a href="https://github.com/TolabaE" target="_blank" class="text-base w-8 h-8 md:w-12 md:h-12 md:text-2xl flex justify-center items-center rounded-full text-cyan-400 border-2 border-cyan-400"><i class="bi bi-github"></i></a>
                <a href="https://www.linkedin.com/in/tolaba-eduardo-esequiel/" target="_blank" class="text-base w-8 h-8 md:w-12 md:h-12 md:text-2xl flex justify-center items-center rounded-full text-cyan-400 border-2 border-cyan-400"><i class="bi bi-linkedin"></i></a>
                <a href="#contact" class="text-base w-8 h-8 md:w-12 md:h-12 md:text-2xl flex justify-center items-center rounded-full text-cyan-400 border-2 border-cyan-400"><i class="bi bi-envelope-fill"></i></a>
                <!-- <a href="https://www.instagram.com/eduardo_tolaba25/" target="_blank" class="text-base w-8 h-8 md:w-12 md:h-12 md:text-2xl flex justify-center items-center rounded-full text-cyan-400 border-2 border-cyan-400"><i class="bi bi-instagram"></i></a> -->
            </div>
        </div>
    </div>
</section>
<style>
    #home{
        background-image: url('./images/home-image-portal.jpg');
        background-repeat: no-repeat;
        background-size:cover;
        background-position:center;
        height: 100vh;
    }
    /* .div-transparente{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.6;
    } */
    .social a:hover {
        color: #1F252E;
        background-color: #00E8F8;
        box-shadow: 0 0 20px #00E8F8;
        transition: all .3s ease-in-out;
    }
    .images {
        /* background-image: url("https://images.unsplash.com/photo-1478760329108-5c3ed9d495a0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8fA%3D%3D&w=1000&q=80");
        background-repeat: no-repeat;
        background-position: 0 -75px; */
        /* -webkit-box-shadow: 0 10px 10px -10px #000000; */
        /* -moz-box-shadow: 0 10px 10px -10px #000000; */
        box-shadow: 0px 16px 4px -10px rgb(0, 232, 248);
        width: 528px;
        background-size: cover;
    }

    .text__develop{
        color: transparent;
        -webkit-text-stroke:1px rgba(255,255,255, 0.6);
    }
    .text__develop-hover{
        position: absolute;
        inset: 0;
        width: 0%;
        color: #00E8F8;
        overflow: hidden;
        transition: 0.5s ease-in-out;
        border-right: 3px solid #00E8F8;
    }
    .develop-title:hover .text__develop-hover{
        width: 101%;
        filter: drop-shadow(0 0 30px #1af7ff);
    }
    @keyframes check {
        0% {
            transform: translateY(-100px);
            opacity: 0;
        }

        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }
    @keyframes textanime {
        0% {
            width: 0%;
        }

        50% {
            width: 100%;
        }

        100% {
            width: 0%;
        }
    }
</style>