---

---

<header>
    <div class="text-xl font-bold text-white">
        <a href="/" class="text-cyan-400">Mi portafolio</a>
    </div>
    <input type="checkbox" id="click">
    <label for="click" class="mainicon">
        <div class="menu">
            <i class="bi bi-list"></i>
        </div>
    </label>
    <nav class="bg-slate-900">
        <a href="#home">Inicio</a>
        <a href="#about">Sobre Mi</a>
        <a href="#services">Servicios</a>
        <a href="#portfolio">Proyectos</a>
        <a href="#contact" class="etiqueta anchor">Contacto</a>
    </nav>
</header>

<!-- <script>
    const click = document.querySelector('.anchor')

    const [ etiquetaEnlace, etiquetaDestino ] = document.querySelectorAll('.etiqueta') as unknown as [ HTMLElement, HTMLElement]
    console.log(etiquetaEnlace);
    // const [ etiquetaEnlace1, etiquetaEnlace2, etiquetaDestino ] = document.querySelectorAll(claseScroll) 
	// click.forEach( (etiqueta:HTMLAnchorElement) => {

    // });
    click?.addEventListener('click',(e:any) =>{
        const [ etiquetaEnlace2, etiquetaDestino2 ] = document.querySelectorAll('.etiqueta') as unknown as [ HTMLElement, HTMLElement]
        console.log(etiquetaDestino2);
    e.preventDefault()
    window.scrollTo({top:etiquetaDestino2.offsetTop, behavior: 'smooth' })
    console.log('hola');
    })
</script> -->

<style>
header {
    padding: 30px 16px;
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    margin: auto;
    align-items: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: .7px;
    padding: 16px;
    padding:8px 16px;
    border-radius: 16px;
    border:2px solid transparent
}

nav a:hover {
    color: #00E8F8;
    transition: all.3s ease-in-out;
    border-color: #00E8F8;
}
#clickNav{
    scroll-behavior: smooth;
    transition: all 2s;
}
#click {
    display: none;
}

.menu i {
    color: #00E8F8;
}

.menu {
    display: none;
}

@media only screen and (max-width:1023px) {
    .menu {
        display: block;
        font-size: 24px;
        font-weight: bold;
        color: #244D61;
    }

    header {
        padding: 12px 16px;
        align-items: center;
        max-width: 100%;
    }

    nav {
        position: absolute;
        display: grid;
        top: 55px;
        text-align: center;
        left: -100%;
        z-index: 1;
        width: 100%;
    }

    #click:checked~nav {
        left: 0%;
        transition: all 0.3s ease;
    }
}
</style>
