---
import ProjectList from "../containers/ProjectList.astro";
---

<section class="p-2 md:p-8">
    <h2 class="text-center text-2xl md:text-4xl font-semibold text-white">Mi <span class="text-cyan-400">Portafolio</span></h2>
    <ProjectList/>
</section>
